*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i{
    color: #17a2b8;
}

i:hover{
    cursor: pointer;
}

.rotate45{
    transform: rotate(45deg);
}

.rotate90{
    transform: rotate(90deg);
}

.rotate135{
    transform: rotate(135deg);
}

.rotate180{
    transform: rotate(180deg);
}
