*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i{
    color: #17a2b8;
}

i:hover{
    cursor: pointer;
}

.rotate45{
    transform: rotate(45deg);
}

.rotate90{
    transform: rotate(90deg);
}

.rotate135{
    transform: rotate(135deg);
}

.rotate180{
    transform: rotate(180deg);
}

.color-red{
    color: red !important;
}

.color-green{
    color: green !important;
}

.container-header-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.i-mr{
    margin-right: 10px;
}

.select2-container{
    width: 100% !important;
}
